// COLORS
$color-gray-light: #ebebeb;
$color-white: #fcfcfc;
$color-gray-dark: #434343;
$color-blue-Dark: #0A3871;
$color-dark-red: rgb(180, 17, 17);
$color-green: #33941d;
$color-dark: #0d0d0d;

$radius: .5rem;

// Fuentes
$font: 'Poppins';